.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 3rem;
}

button {
  width: 50px;
  height: 30px;
  color: lightgreen;
  border: 1px solid white;
  background-color: inherit;
  margin: 3px;
  cursor: pointer;
}
